@import '../../assets/scss/colors.scss';

.containerBoard {
  padding: 31.5px 42.5px;
  border: 1px solid #E1E1E2;
  position: relative;
  border-radius: 4px;
  max-height: 374px;
  max-width: 395px;
  margin-top: 10px;
}

.legend {
  position: absolute;
  top: -35px;
  left: 10px;
  background-color: $white;
  padding: 0 5px;
  color: #525256;
  font-size: 24px;
  font-weight: lighter;
}

.board {
  background-color: $blueDark;
  height: 311px;
  width: 311px;
  display: flex;
  padding: 15px 14px;
  border-radius: 3.66px;
}

.column{
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 50%;
  flex-wrap: wrap;
  border-top: 4px solid $white;

  &:first-child{
    border-top-left-radius: 3.66px;
    border-bottom-left-radius: 3.66px;
  }

  &:last-child{
    border-right: 4px solid $white;
    border-top-right-radius: 3.66px;
    border-bottom-right-radius: 3.66pxs;
  }

}

.cell {
  width: 50%;
  height: 25%;
  border-left: 4px solid $white;
  border-bottom: 4px solid $white;
}

$colors: ("red": $red, "yellow": $yellow, "blue": $blue, "lightblue": $lightblue, "green": $green, "gray": $moon);


@each $name, $bc-color in $colors{
  .#{$name} {
    @extend .cell;
    background-color: #{$bc-color};
  }
}

/*
.gray{
@extend .cell;
visibility: hidden;
} */
