/* Primary */
$yellow: #FEC34D;
$green:#AED750;
$red: #F2754C;
$lightblue: #33BFC6;
$blue: #22465C;
$violet: #7758A2;

/* Secondary */
$yellowDark: #D39B1E;
$greenDark: #81AF24;
$redDark: #A85135;
$lightblueDark: #23858A;
$blueDark: #173040;
$violetDark:  #533D71;

/* Gray scale */
$white: #FFFFFF;
$gray: #525256; 
$moon: #B5B5B7;
$mercury: #E8E8E8;
