$yellow: #FEC34D;
$yellowDark: #D39B1E;;
$green:#AED750;
$greenDark:  #81AF24;
$pink: #F2754C;
$pinkDark: #A85135;
$lightblue: #33BFC6;
$lightblueDark: #23858A;
$blue: #22465C;
$blueDark: #173040;
$white: #ffffff;