.containerScore {
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
  min-width: 196px;
  height: 53px;
  padding: 10px;
  border-radius: 5px;
}

.textScore {
  margin: 0 10px;
  font-weight: lighter;
}

.iconContainer {
  margin: 0 8px;
  width: 17px;
  height: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.iconContainerPositive {
  @extend .iconContainer;
  background-color: #44B449;
}


.iconContainerNegative {
  @extend .iconContainer;
  background-color: #EA4453;
}
.iconScore {
  padding-bottom: 1px;
}

.score {
  font-size: 29px;
  font-weight: bold;
}
