
.containerButton {
    width: 120px;
    height: 66px;
    background-color: #D12C43;
    border-radius: 4px;
    transition: background-color .1s ease, transform .2s ease;
    margin-right: 24px;
  }
  
  .button {
    outline: none;
    border: none;
    width: 100%;
    height: 58px;
    border-radius: 4px;
    background-color: #EA4453;
    background-image: url('../../../assets/img/Rojo.png');
    background-repeat: no-repeat;
    background-position: center;
 
  }
  
  .containerButton:active {
    background-color: white;
    transform: translateY(8px);
  }
  
  .button:hover {
    cursor: pointer;
  }
  