.containerBordo{
  height: 58px;
  width: 120px;
  border-radius: 4px;
  background-color: black;
}

.containerRojo{
    height: 66px;
    width: 120px;
    border-radius: 4px;
    background-color: red;
}


.iconRectangle{
/*   transform: translate(639.21px,718.01px);
 */  
}
