.containerButton {
  width: 295px;
  height: 65px;
  background-color: #533D71;
  border-radius: 4px;
  transition: background-color .1s ease, transform .2s ease;
}

.button {
  outline: none;
  border: none;
  width: 100%;
  height: 57px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  background-color: #7758A2;
}

.containerButton:active {
  background-color: white;
  transform: translateY(8px);
}

.button:hover {
  cursor: pointer;
}

