.containerButton {
  width: 295px;
  height: 65px;
  background-color: #533D71;
  border-radius: 4px;
  transition: background-color .1s ease, transform .2s ease;
}

$heightButton: 57px;
$fontSize: 18px;

.button {
  display: inline-block;
  width: 100%;
  height: $heightButton;
  font-size: $fontSize;
  font-weight: bold;
  color: white;
  background-color: #7758A2;
  text-align: center;
  text-decoration: none;
  /* centra verticalmente el texto que contiene el button */
  padding-top: calc(( #{$heightButton} - #{$fontSize} - 5px) / 2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.containerButton:active {
  background-color: white;
  transform: translateY(8px);
}

.button:hover {
  cursor: pointer;
}
