.containerButton {
  width: 295px;
  height: 65px;
  background-color: #520D71;
  transition: background-color .2s ease, transform .1s ease .4s;
  -webkit-transition: background-color .2s ease, transform .1s ease .4s;
  -moz-transition: background-color .2s ease, transform .1s ease .4s;
  -ms-transition: background-color .2s ease, transform .1s ease .4s;
  -o-transition: background-color .2s ease, transform .1s ease .4s;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

$heightButton: 57px;
$fontSize: 18px;

.button {
  display: inline-block;
  width: 100%;
  height: $heightButton;
  font-size: $fontSize;
  font-weight: bold;
  color: white;
  background-color: #7758A2;
  text-align: center;
  text-decoration: none;
  /* centra verticalmente el texto que contiene el button */
  padding-top: calc(( #{$heightButton} - #{$fontSize} - 5px) / 2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.containerButton:hover {
  background-color: transparent;
  transform: translateY(7px);
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
}


