.containerBlock {
	background-color: #D39B1E;
	margin: 0 10px;
	min-height: 70px;
	min-width: 70px;
	border-radius: 5px;
	overflow: hidden;
}

.block {
	position: relative;
	background-color: #FEC34D;
	border-radius: 5px;
	min-height: 68.5px;
	min-width: 68.5px;
	margin: 0 auto;
	margin-top: -10px;
}



// .block:hover {
//     border-color: white;
//     transform: translateY(5px);
// }

.blockPoints {
	margin-top: 5px;
	margin-left: 5px;
}

.point {
	content: '';
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
}

.point:nth-child(1n) {
	top: 10px;
}

.point:nth-child(2n) {
	top: 17px
}

.point1 {
	left: 7px;
}

.point2 {
	left: 12px;
}

.point3 {
	left: 17px;
}

.point4 {
	left: 22px;

}

.point5 {
	left: 27px;
}

.point6 {
	left: 32px;

}

.point7 {
	left: 37px;
}

.blockNumber {
	position: absolute;
	top: -25px;
	left: 27px;
	color: white;
	font-size: 36px;
	padding: 0;
}