.block{
    position: relative;
    background-color: #FEC34D;
    border-radius: 5px;
    margin-right: 5px;
    height: 70px;
    width: 70px;
    border-bottom: 6px solid  #D39B1E; 
}

.blockPoints{
    margin-top: 5px;
    margin-left: 5px;
}

.point{
    content: '';
    width:  5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.point2{
 left: 9px;
 top: 11px;
}

.point3{
    left: 13px;
}

.point4{
    top: 11px;
    left: 17px;
}

.point5{
    left: 21px;
}

.point6{
    top: 11px;
    left: 25px;
}

.point7{
   left: 29px;
}

.blockNumber{
    position: absolute;
    top: -25px;
    left: 27px;
    color: white;
    font-size: 35px;
    padding: 0;
}