.board{
  background-color: #E8E8E8;
  margin-top: 30px;
  height: 478px;
  width: 478px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  
}

.cell{
  width: 111px;
  height: 111px; 

position: relative;
}
.cell::after {
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #E8E8E8;
}
.cell:nth-child(-n+4){
  border-top: 2px dashed #a1a1a1;
}

.cell:nth-child(1n){
  border-bottom: 2px dashed  #a1a1a1;

  border-left: 2px dashed  #a1a1a1;


}
.cell:nth-child(4n){
  border-right: 2px dashed  #a1a1a1;

}


