.Text {
    height: 49.2px;
    width: 300px;
    color: #525256;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    margin-bottom: 36px;

  }
