body{
    background-color: rgba(8,8,13,0.5);
    
    
}

.WhiteBox{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.Container {
    height: 413px;
    width: 400px;
    border-radius: 4px;
    background-color: #FFFFFF;
  }
