.containerStrongGreen{
    height: 58px;
    width: 120px;
    border-radius: 4px;
    background-color: #44B449;
}

.containerGreen{
    height: 66px;
    width: 120px;
    border-radius: 4px;
    background-color: #00942A;
}


.iconRectangle{
  transform: translate(47.24px , 19.27px);  
}
