.formLogin {    
    font-family:  'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    
}

.blockchain {
    font-family:  'Montserrat', sans-serif;
    color: #7758A2;
    font-weight: 700;
}
.label {
    font-weight: 700;
}

.input {
    display:flex;
    flex-direction: column;
}

