.MainText{
    height: 44px;
    width: 240px;
    color: #525256;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
