.MainText{
    height: 34.6px;
    width: 240px;
    color: #525256;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 40.4px;
    margin-bottom: 32px;
    text-align: center;
    
  }
