.container{
	position: relative;
}
.containerBlocks {
	margin-top: 20px;
	padding: 0 12px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.next,
.back {
	background-image: url('../../assets/img/iconArrow.png');
	width: 26px;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	position: absolute;
	z-index: 2;
	background-color: white;
}

.next:hover,
.back:hover{
	cursor: pointer;
}

.back {
	transform: rotateZ(180deg);
	left: -8px;
}


.next {
	right: -8px;
}