.login {    
    display: flex;
    font-family:  'Montserrat', sans-serif;
    flex-direction: column;
    align-content: center;
    align-items: center;
       
    
}
.label {
    font-weight: 700;
}