.containerDev {
  display: flex;
  max-width: 100%;
  margin: 0; 
  padding-top: 5px;
  align-items: center; 
}
@media screen and (min-width: 768px){
  .containerDev {
    max-width: 30%;
  }
}

@media screen and (min-width: 480px){
  .containerDev {
    max-width: 50%;
  }
}

.nameDev{
  margin-right: 2px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.containerIcons {
  display: flex;
  max-width: 68px;
  justify-content: space-between;
  margin-top: 2.5px;
}

.linkedinIcon>img,
.githubIcon>img {
  max-width: 100%;
  padding-bottom: 0;
}

.githubIcon{
  min-width: 24px;
  align-self: center;
}

.linkedinIcon{
  align-self: center;
  min-width: 44px;
}


