.containerBoard {
  box-sizing: border-box;
  height: 481px;
  width: 481px;
  border: 1px solid #E1E1E2;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-right: 21px; 
  margin-bottom: 108.5px;
}

.board {
  height: 481px;
  width: 481px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px;
}
