.containerFooter {
    background-color: #533D71;
    display: flex;
    background-image: url('assets/img/violetLines.png');
    overflow: hidden;
    justify-content: space-evenly;
    max-height: 7vh;
    align-items: center;
}
