.containerFooter {
  background-color: #533D71;
  display: flex;
  background-image: url('assets/img/violetLines.png');
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
