/* .containerBlock {
	overflow: hidden;
	background-color: #D39B1E;
	margin: 0 7.8px;
	min-height: 68px;
	min-width: 68px;
	border-radius: 5px;
  transition: background-color .2s ease, transform .2s ease;
}

.block {
	position: relative;
	background-color: #FEC34D;
	border-radius: 5px;
	height: 62.5px;
	min-width: 100%;
}

.containerBlock:active {
	background-color: transparent;
	transform: translateY(6px);
}

.block:active {
	cursor: pointer;
	position: absolute;
}

.block:active {
	cursor: move;
}

.blockPoints {
	width: 47.5%;
	height: 32%;
	position: relative;
	left: 5%;
}

.point {
	content: '';
	width: 16.5%;
	height: 26.65%;
	background-color: white;
	border-radius: 50%;
	position: absolute;
}

.point:nth-child(odd) {
	top: 30%;
}

.point:nth-child(even) {
	top: 67%;
}

.point1 {
	left: 10%;
}

.point2 {
	left: 24%;
}

.point3 {
	left: 38%;
}

.point4 {
	left: 52%;

}

.point5 {
	left: 66%;
}

.point6 {
	left: 80%;

}

.point7 {
	left: 94%;
}

.blockNumber {
	position: absolute;
	top: -20px;
	left: 22px;
	color: white;
	font-size: 32px;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: bold;
}
 */

 .containerBlock {
	background-color: #D39B1E;
	margin: 0 7.8px;
	height: 68px;
	width: 68px;
	border-radius: 5px;
	transition: background-color .2s ease, transform .2s ease;
	flex-shrink: 0;
}

.block {
	background-color: #FEC34D;
	display: flex;
	flex-direction: column;
	width: 68px;
	border-radius: 5px; 
	height: 62px;

}

.containerBlock:active {
	background-color: transparent;
	transform: translateY(6px);
}

.block:active {
	cursor: pointer;
}

.block:active {
	cursor: move;
}

.blockPoints {
	min-width: 32px;
	min-height: 20px;
	position: relative;
	display: flex;
}

.blockPoints p{
	margin: 0;
	padding:0;}

.point {
	content: '';
	min-width:  5px;
	min-height: 5px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
}

.point:nth-child(odd) {
	top: 5px;
}

.point:nth-child(even) {
	top: 12px;
}

.point1 {
	left: 5px;
}

.point2 {
	left: 10px;
}

.point3 {
	left:15px;
}

.point4 {
	left: 20px;

}

.point5 {
	left: 25px;
}

.point6 {
	left: 30px;

}

.point7 {
	left: 35px;
}

.blockNumber {
	margin-top: 0;
	margin-right: 5px;
	align-self: flex-end;
	color: white;
	font-size: 32px;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: bold;
}



/* borrar */
.blockPoints {
	width: 47.5%;
	height: 32%;
	position: relative;
	left: 5%;
}

.point {
	content: '';
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
}

.point:nth-child(odd) {
	top: 30%;
}

.point:nth-child(even) {
	top: 67%;
}

.point1 {
	left: 10%;
}

.point2 {
	left: 24%;
}

.point3 {
	left: 38%;
}

.point4 {
	left: 52%;

}

.point5 {
	left: 66%;
}

.point6 {
	left: 80%;

}

.point7 {
	left: 94%;
}