.containerBlock {
	/* 	background-color: #D39B1E;
 */
	background-color: #81AF24;

	margin: 0 7.8px;
	height: 68px;
	width: 70px;
	border-radius: 5px;
	transition: background-color .2s ease, transform .2s ease;
	flex-shrink: 0;
}

.block {
	/* 	background-color: #FEC34D;
 */
	background-color: #AED750;
	display: flex;
	flex-direction: column;
	width: 70px;
	border-radius: 5px;
	height: 62px;

}


.block:active {
	cursor: pointer;
}

.block:active {
	cursor: move;
}


.blockPoints {
	max-width: 52%;
	min-height: 30%;
	position: relative;
	left: 10%;
}

.point {
	content: '';
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
}

.point:nth-child(odd) {
	top: 30%;
}

.point:nth-child(even) {
	top: 67%;
}

.point1 {
	@extend .point;
	left: 10%;
}

.point2 {
	@extend .point;
	left: 22%;
}

.point3 {
	@extend .point;
	left: 34%;
}

.point4 {
	@extend .point;
	left: 46%;
}

.point5 {
	@extend .point;
	left: 58%;
}

.point6 {
	@extend .point;
	left: 70%;
}

.point7 {
	@extend .point;
	left: 82%;
}

.blockNumber {
	margin-top: 0;
	margin-right: 5px;
	align-self: flex-end;
	color: white;
	font-size: 32px;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: bold;
}


.yellow {
	background-color: #FEC34D;
}

.yellowDark {
	background-color: #D39B1E;
}

.green {
	background-color: #AED750;
}

.greenDark {
	background-color: #81AF24;
}

.lightblue {
	background-color: #33BFC6;
}

.lightblueDark {
	background-color: #23858A;
}

.pink {
	background-color: #F2754C;
}

.pinkDark {
	background-color: #A85135;
}

.blue {
	background-color: #22465C;
}

.blueDark {
	background-color: #173040;
}