.containerBlock {
	overflow: hidden;
	background-color: #D39B1E;
	margin: 0 7.5px;
	min-height: 68px;
	min-width: 68px;
	border-radius: 5px;
  transition: background-color .2s ease, transform .2s ease;
}

.block {
	position: relative;
	background-color: #FEC34D;
	border-radius: 5px;
	height: 62.5px;
	min-width: 100%;
}

.containerBlock:active {
	background-color: transparent;
	transform: translateY(6px);
}

.block:hover {
	cursor: pointer;
}

.block:active {
	cursor: move;
}

.blockPoints {
	padding-top: 5px;
	padding-left: 5px;
}

.point {
	content: '';
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
}

.point:nth-child(1n) {
	top: 10px;
}

.point:nth-child(2n) {
	top: 17px
}

.point1 {
	left: 7px;
}

.point2 {
	left: 12px;
}

.point3 {
	left: 17px;
}

.point4 {
	left: 22px;

}

.point5 {
	left: 27px;
}

.point6 {
	left: 32px;

}

.point7 {
	left: 37px;
}

.blockNumber {
	position: absolute;
	top: -20px;
	left: 27px;
	color: white;
	font-size: 32px;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}