body{
    background: white;
}

h2 {
    /* los div h1 h2 h3 h4 h5 h6 p form header footer section vienen por defecto en display block asi que es al pedo que le pongas diplay block a elementos que por defecto vienen en block. Las img span  y a son inline  */
    display: block;
    font-size: 1.5em;
    /* porque estas usando margin block y despues margin inline ?  porque usas em ? */    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.secundario{
    /* en este div tenes solo 1 elemento no tiene sentido que le pongas space-between    space-between significa "spacio entre" onda entre los elementos hermanos que haya dentro del padre secundario  y el display flex tambien esta al pedo si lo ibas a usar solo para el justify*/
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    color: #525256;
}
    
.imagenSuperior {   
    display: block;
    margin: auto;
}

.revision{
    /* porque estas haciendo esto ?  */
    transform: translateX(22px) translateY(140px);
    height: 29px;
    width: 92px;
    color: #7758A2;
    /* font-family: Montserrat; */
    font-size: 24px;
    font-weight: bold;
    /* para que usaste esto?. Esto sirve para el espacio que hay entre el renglon de arriba y de abajo de un parrafo, es como el interlineado del parrafo. no ttiene sentido que pongas aca eso porque tenes 1 solo renglon y es un h2 */
    line-height: 29px;
    
}

.nombre {
    /* si solamente queres  queres que este uno abajo del otro, esta medio al pedo el flex y el colum  */
    display:flex;
    flex-direction:column;
    /* de nuevo para que esto?*/
    transform: translateX(22px) translateY(205px); 
    height: 58px;
    width: 384px;
    color: #525256;
    /*font-family: montserrat;*/ 
    font-size: 24px;
    font-weight: bold;

    /* de nuevo lo mismo no tiene sentido que tengas esto aca */
    line-height: 29px;
    
}

/* todas estas clases que tenes de aca para abajo las tenes al pedo no las estas usando para nada. */
.rectangulo {
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    width: 196px;
    height: 53px;
    padding: 10px;
    border-radius: 5px;
}

.puntaje {
    margin: 0 5px;
    font-weight: lighter;
}

.cuadrado {
    margin: 0 8px;
    background-color: #44B449;
    width: 18px;
    height: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.suma {
    padding-bottom: 1px;
}

.numero{
    font-size: 29px;
    font-weight: bold;
}

