.PantallaValidacion{
    width: 1024px;
    margin: 0 auto;
}

.ContainerTextScore{
    display: flex;
    justify-content: space-between;
}

.ContainerBoardResolutionButton{
    display: flex;
    flex-direction: column;
}

.ContainerButton{
    display: flex;
    justify-content: space-around;
}

.ContainerBoardBoardResolutionButton{
    display: flex;
    justify-content: space-around;
}
