.revision {
    height: 29px;
    width: 92px;
    color: #7758A2;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29px;
  }

  .texto {
    height: 58px;
    width: 384px;
    color: #525256;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29px;
  }

  